@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FarmaSalud SRL<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@farmasalud.com">Support@farmasalud.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@farmasalud.com">Marketing@farmasalud.com</a>
</address>