<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Datos Inválidos</h1>
        <h2>Algunos de los datos son inválidos. Por favor, llene el formulario nuevamente.</h2>
    </hgroup>
</body>
</html>